.row-component {
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

.values {
  width: 78vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.values > p {
  width: 20rem;
  border: 1px solid rgba(255, 255, 255);
  cursor: pointer;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #060606;
  font-size: 0.9rem;
}

.heading {
  width: 10.5rem;
}
