.hero {
  display: flex;
  flex-direction: row;
}

.naming-set-container {
  width: 100%;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 50%; */
  margin: auto;
  padding: 2rem 3rem;
  height: 90%;
}

.play-button {
  background: none;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.form-content {
  width: 100%;
}

.audio-page-container {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.audio-page-heading h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  width: 85%;
  letter-spacing: 2.3px;
  text-align: center;
  margin-bottom: 1rem;
}

.audio-page-content-main-paragraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.audio-page-content-main-heading {
  width: 80%;
  margin-bottom: 2rem;
}

.audio-page-content-main-heading h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.audio-page-content-paragraph {
  width: 70%;
}

.audio-page-button {
  width: 88%;
  margin-top: 1rem;
}
.audio-page-paragraph {
  width: 45%;
  font-family: "inter", sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.input-arrow > IoIosArrowRoundForward {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}

.audio-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio-spikes {
  width: 2rem;
  margin-left: 0.5rem;
}

.audio-heading h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  width: 85%;
  letter-spacing: 2.3px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.audio-content {
  display: flex;
  flex-direction: column;
}

.audio-input {
  margin-bottom: 2rem;
}
.audio-input input {
  width: 80%;
  border: 1px solid;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  outline: none;
  font-weight: 400;
  padding: 0.4rem 0.3rem;
  background-color: transparent;
  border-radius: 5px;
}

.audio-image {
  margin-bottom: 0.4rem;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-arrow input {
  padding-right: 20px;
}
