.hero {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}
.navbar {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
}

.naming-set-container {
  width: 100%;
  display: flex;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-top: 10px solid #f0f353;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83vh;
  width: 59%;
  padding: 0rem 2rem;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.639);
  margin: auto;
}

.play-button {
  background: none;
  width: fit-content;
  border: none;
  cursor: pointer;
}
.audio-rating-container {
  border-radius: 20px;
  background-color: #f0f353;
  border: 1px solid #ccc;
  border-top: 10px solid #f0f353;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83vh;
  width: 30%;
  padding: 0rem 1rem;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.639);
  margin: auto;
}

.form-content {
  width: 100%;
}

.audio-page-container {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: -1.5rem;
}
.audio-page-container-2 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: -1.5rem;
  gap: 7rem;
  padding-right: 2rem;
}

.audio-page-heading h3 {
  font-family: "Mulish", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  width: 85%;
  letter-spacing: 2.3px;
  text-align: center;
  margin-bottom: 1rem;
}

.audio-page-content-main-paragraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.audio-page-content-main-heading {
  width: 80%;
  margin-bottom: 2rem;
}

.audio-page-content-main-heading h4 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.audio-page-content-paragraph {
  width: 100%;
}

.audio-page-content-audio {
  margin: auto;
  height: 100%;
}

.inital {
  width: 100%;
}

.inital > h3 {
  color: black;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  margin-bottom: 2rem;
  text-align: left;
  margin-top: 2rem;
  /* position: absolute; */
}

.audio-page-button {
  width: 100%;
  margin-top: 1rem;
}
.audio-page-paragraph {
  width: 45%;
  font-family: "inter", sans-serif;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-top: 0.5px solid rgb(100, 100, 100);
}

.audio-page-paragraph p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  line-height: 1.5rem;
}

.input-arrow > IoIosArrowRoundForward {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}

.audio-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio-spikes {
  width: 2rem;
  margin-left: 0.5rem;
}

.audio-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 2rem;
}

.audio-heading img {
  display: inline-block;
  width: 5.5rem;
  margin-top: 1rem;
}

.audio-heading h3 {
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 8rem;
}

.audio-content {
  display: flex;
  flex-direction: column;
}

.audio-input {
  margin-bottom: 2rem;
}
.audio-input input[type="text"] {
  border: 1px solid;
  font-family: "Mulish", sans-serif;
  font-size: 0.8rem;
  outline: none;
  color: rgb(0, 0, 0);
  width: 13rem;
  background-color: #ffffff;
  font-weight: 400;
  padding: 0.6rem 0.4rem;
  border-radius: 5px;
}

.audio-image {
  margin-bottom: 0.4rem;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-arrow input {
  padding-right: 20px;
}
