.button {
  background-color: black;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 9px 23px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  margin: auto;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.872);
  cursor: pointer;
}
