.checkbox-questions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-questions > label {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-optical-sizing: auto;
  width: 100%;
  line-height: 1.3rem;
}

.checkbox-inputs > label {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  margin-bottom: 0.7rem;
  width: 100%;
  color: #535353;
  cursor: pointer;
}
.checkbox-inputs > input {
  cursor: pointer;
}
.checkbox-inputs > label {
  cursor: default;
}

.checkbox-questions > p {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  line-height: 1.3rem;
}

.checkbox-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 15rem;
  font-family: "Inter", sans-serif;

  gap: 4px;
}

.checkbox-questions > input {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #868686;
  background-color: transparent;
  margin-bottom: 1rem;
  cursor: pointer;
}
