.hero {
  display: flex;
  flex-direction: row;
}

.review-container {
  width: 100%;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 50%; */
  margin: auto;
  padding: 3rem 2rem;
  height: 80%;
}

.form-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-content h1 {
  font-family: "Inter", sans-serif;
  line-height: 3rem;
  width: 96%;
  margin: auto;
  font-size: 2rem;
}
