.navbar {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
}

.content-middle {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: start;
}
.content-middle > ul {
  padding: 0;
  width: 70%;
  margin: 3rem 0rem;
}

.main-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
  height: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
}

.home-sidebar {
  margin-top: 5rem;
  margin-left: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-top: 10px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 75vw;
  margin-right: 1.5rem;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.639);
  margin: auto;
}

.home {
  display: flex;
  margin: auto;
  flex-direction: row;
}
.column-2-img img {
  height: 25rem;
  margin-top: 2rem;
}
.div-2 {
  width: 90%;
  padding: 3.5rem 2rem;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    /* margin: 40px 0; */
  }
}
.div-3 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-4 {
  color: #000;
  font: 500 19px/32px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
}
@media (max-width: 991px) {
  /* .div-4 {
    max-width: 100%;
    margin-top: 40px;
  } */
}
.column-2 {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  gap: 2rem;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-5 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.88px;
  max-width: 257px;
  border-radius: 5px;
  background-color: #0d0d0d;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 19px 20px;
  font: 700 22px/27px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    margin-top: 40px;
  }
}
