.div {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50%;
  margin: auto;
}
.home {
  display: flex;
  flex-direction: row;
}
.column-2-img img {
  height: 15rem;
}
.div-2 {
  width: 90%;
  padding: 2rem;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    /* margin: 40px 0; */
  }
}
.div-3 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-4 {
  color: #000;
  font: 500 19px/32px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
}
@media (max-width: 991px) {
  /* .div-4 {
    max-width: 100%;
    margin-top: 40px;
  } */
}
.column-2 {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 28%;
  gap: 7rem;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-5 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.88px;
  max-width: 257px;
  border-radius: 5px;
  background-color: #0d0d0d;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 19px 20px;
  font: 700 22px/27px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    margin-top: 40px;
  }
}
