.login {
  display: flex;
  width: 95%;
  margin: 2rem auto;
  overflow-x: hidden;
  height: 100vh;
}

.login-sidebar {
  /* Styles for the login sidebar container go here */
}

.sidebar-description {
  /* Styles for the sidebar description text go here */
}

.login__form-container {
  display: flex;
  height: 80vh;
}

.login-form {
  width: 100%;
}

.form {
  width: 35%;
  margin: auto;
}

.login__form-email,
.login__form-password {
  display: flex;
  flex-direction: column;
}

.login__form-email-label,
.login__form-password-label {
  margin: 0.2rem 0rem;
  margin-top: 1.5rem;
  color: rgb(0 0 0 / 80%);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.1em;
}

.login__form-email-input,
.login__form-password-input {
  border: none;
  padding: 13px 9px;
  border-radius: 7px;
  font-size: 1rem;
  margin-top: 4px;
  background-color: rgb(237, 237, 237);
}

.sidebar-text-nomencapture {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

.sidebar-description {
  width: 12rem;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.952);
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

.login-button {
  margin-top: 2rem;
  width: 7rem;
}

/* Additional styles for the Button component or other elements can be added here */
