.login {
  display: flex;
}

.login-sidebar {
  /* Styles for the login sidebar container go here */
}

.sidebar-text-nomencapture {
  /* Styles for the NOMENCAPTURE text go here */
}

.sidebar-description {
  /* Styles for the sidebar description text go here */
}

.login__form-container {
  display: flex;
  height: 80vh;
}

.login-form {
  width: 100%;
}

.form {
  width: 35%;
  margin: auto;
}

.login__form-email,
.login__form-password {
  display: flex;
  flex-direction: column;
}

.login__form-email-label,
.login__form-password-label {
  margin-top: 1rem;
  color: rgb(0 0 0 / 80%);
}

.login__form-email-input,
.login__form-password-input {
  border: none;
  padding: 13px 9px;
  border-radius: 7px;
  font-size: 1rem;
  margin-top: 4px;
  background-color: rgb(237, 237, 237);
}

.sidebar-text-nomencapture {
  /* font-size: 2rem; */
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
}
.sidebar-description {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.644);
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

.login-button {
  margin-top: 2rem;
}

/* Additional styles for the Button component or other elements can be added here */
