.name-list-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: auto;
  min-height: 35rem;
}

.name-list-2-hero {
  display: flex;
  flex-direction: row;
  text-align: start;
}

.heading {
  width: 90%;
  font-family: "Mulish", sans-serif;
  text-align: start;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem 0rem;
}
.heading span {
  font-weight: 800;
}

.nameset-2-arrows {
  display: flex;
  flex-direction: row;
  width: 7%;
  bottom: 0.5rem;
  position: absolute;
  right: 2rem;
  align-items: flex-end;
  gap: 0.1rem;
}
.nameset-2-arrows > button {
  width: 3.4rem;
  padding: 0.4rem 0rem;
  right: 2rem;
  border-radius: 0;
}

.nameset-2-names-img {
  width: 95%;
  height: 95%;
}

.nameset-2-names-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
