.hero {
  display: flex;
  flex-direction: row;
}

.naming-set-container {
  width: 100%;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 50%; */
  margin: auto;
  padding: 2rem 3rem;
  height: 90%;
}

.form-content {
  width: 100%;
  margin-top: 1rem;
}

.nameset-2-arrows {
  display: flex;
  flex-direction: row;
  width: 7%;
  bottom: 0.5rem;
  position: absolute;
  right: 2rem;
  align-items: flex-end;
  gap: 0.1rem;
  margin-bottom: -1.5rem;
}
.nameset-2-arrows > button {
  width: 3.4rem;
  padding: 0.4rem 0rem;
  right: 2rem;
  border-radius: 0;
}
