.hero {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}

.nomen-container {
  width: 100%;
}

.div {
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem 1rem;
  height: 90%;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.form-content {
  width: 100%;
}

.nomen-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 6.9rem;
  margin: auto;
}

.name {
  border-right: 1.5px solid black;
  /* padding: 0.8rem 2rem; */
  flex: 2;
}

.mul {
  border-right: 1.5px solid black;
  text-align: center;
  flex: 1;
}

.rel {
  text-align: center;
  flex: 1;
}

.name h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.name span {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  margin-left: 6px;
}

.nomen-leftpart {
  display: flex;
  flex: 2 1;
  flex-direction: row;
  border: 1.5px solid black;
  justify-content: space-between;
  padding-left: 2.5rem;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.nomen-leftpart ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.nomen-leftpart li {
  list-style: none;
  color: #626262;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.nomen-leftpart p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.65rem;
  font-weight: 400;
  margin-top: 1.2rem;
  text-align: center;
}

.nomen-rightpart {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
}

.values {
  flex: 1;
  padding-left: 1rem;
}
.syllables {
  flex: 1;
  text-align: center;
  height: 4rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-part {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.name-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1.5px solid;
  border-top: none;
  padding: 6.4px 0rem;
  border-left: none;
  border-right: none;
}
.name-info p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.bottom-part p {
  font-size: 0.65rem;
  padding-left: 0.7rem;
}

.available-domains {
  text-align: start;
  padding-left: 1rem;
  flex: 1;
}

.names-more-details {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  border-bottom: 1px solid black;
  height: 52vh;
}

.domains-preview h4 {
  font-size: 0.5rem;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.domain-box {
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  padding: -3px 2px;
  border-radius: 0.5rem;
}

.domain-box p {
  font-size: 0.5rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.domains-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  margin-left: 1rem;
}

.name-availability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.3rem;
  border: 1.5px solid;
  border-top: none;
  padding: 17px 0rem;
  border-left: none;
  border-right: none;
}

.availability-info h5 {
  margin-bottom: 0;
  margin-top: 12px;
  color: #f0f353;
}

.name-availability h4 {
  font-size: 0.6rem;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.availability-info h5 {
  font-size: 0.56rem;
  font-weight: 600;
}

.availability-info > p {
  font-size: 2px;
  font-weight: 400;
  color: #ffffffc2;
}

.chat-box-text {
  margin-top: -2rem;
  width: 80%;
  margin: auto;
}
.chat-box-text p {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.chatbox {
  padding-top: 17px;
  height: 96%;
  border-right: 1.5px solid;
}

.middlepart {
  display: flex;
  flex-direction: column;
  border: 1.5px solid;
  padding: 0px 0px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.lastpart {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.name-description {
  display: flex;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  flex-direction: row;
  width: 93%;
  margin: auto;
  margin-top: 0.3rem;
  z-index: 100;
}

.name-description > h2 {
  font-size: 12px;
  font-weight: bold;
  width: 12rem;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.name-description > span {
  font-size: 12px;
  width: 100%;
  margin-top: 0.65rem;
  font-weight: 500;
}

.trademarkability {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 13.6px;
  border: 1.5px solid;
  border-top: none;
  padding: 6px 9px;
  padding-top: 2px;
  border-left: none;
  height: 4rem;
  border-right: none;
  background-color: black;
  color: white;
}

.trademarkability-content {
  width: 9rem;
}

.trademarkability p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
}
.trademarkability h5 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  margin-top: 7px;
}

.graph-image img,
.name-product-preview img {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-left: 2rem;
}

.container img {
  width: 90%;
  height: 6.7rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  margin-top: -1rem;
}

.text-container p {
  text-align: start;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  margin-left: 1rem;
  line-height: 1rem;
}
