.select-questions {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
.select-inputs {
  margin: 0.1rem 0rem;
}

.select-questions > span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 3rem;
  max-width: 75%;
  flex-wrap: wrap;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.select-questions > label {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-optical-sizing: auto;
  margin-bottom: 0.7rem;
  line-height: 1.3rem;
}

.select-inputs > label {
  color: #5c5b5b;
  margin-bottom: 4px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 13px;
}
.select-inputs > input {
  cursor: pointer;
}

.select-questions > input {
  font-family: "Mulish", sans-serif;
  font-size: 13px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #868686;
  background-color: transparent;
  margin: 0.2rem 0rem;
  cursor: pointer;
  width: 40%;
}
