.nameset-2-arrows {
  display: flex;
  flex-direction: row;
  width: 7%;
  bottom: 0.5rem;
  position: absolute;
  right: 2rem;
  align-items: flex-end;
  gap: 0.1rem;
}
.nameset-2-arrows > button {
  width: 3.4rem;
  padding: 0.4rem 0rem;
  right: 2rem;
  border-radius: 0;
}
