.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #868686;
}
.tabs-4,
.tabs-2 {
  margin: 1rem 0rem;
}

.tabs-1 {
  color: #000000;
}
.tabs-1 > span {
  display: none;
}
