.tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Mulish, sans-serif";
  font-weight: 400;
  font-size: 18px;
  color: #868686;
}

.tabs-4,
.tabs-2 {
  /* margin: 1rem 0rem; */
}

.tabs-1 {
  color: #000000;
  font-weight: 700;
  width: 70%;
  padding: 0.8rem 0rem;
  margin-right: 2rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.tabs-1 > span {
  display: none;
}

.tabs-4 > span,
.tabs-2 > span,
.tabs-3 > span,
.tabs-5 > span {
  color: #000000;
  display: inline-block;
  flex-direction: column;
  margin-left: 2px;
}

.tabs-5 {
  width: 70%;
  padding: 0.8rem 0rem;
  margin-right: 2rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}
