.text-questions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-questions > label {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-optical-sizing: auto;
  width: 70%;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
}

.text-questions > p {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 12.4px;
  width: 70%;
  text-decoration: none;
  line-height: 1.3rem;
}

.text-questions > p > a {
  text-decoration: none;
}

.text-questions > input {
  font-family: "Mulish", sans-serif;

  font-size: 13px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #868686;
  background-color: transparent;
  margin-bottom: 1rem;
  width: 40%;
}
